{% extends 'home/index.html' %}
{% block title %} 
Welcome 
{% endblock %}
{% block content %}
<div id="homepagebody" >
    <section class="container" >
        <div class="card-body">
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card" style="width: 10rem;">
                        <a href={% url 'farmerdata' %} ><img src= "/static/imgs/home/farmer.jpg" height="230" width="200" class="card-img-top" alt="Actor Picture"  onerror="this.src='https://dummyimage.com/600x900/ababab/ffffff.png&amp;text=+NO+IMAGE'"></a>
                        <div class="card-body btn btn-outline-success text-white">
                            <a href={% url 'farmerdata' %}><p class="card-text text-center"><strong>FARMERS</strong></p></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 10rem;">
                        <a href={% url 'investordata' %}><img src="/static/imgs/home/investor.jpg" height="230" width="200" class="card-img-top" alt="Actor Picture"  onerror="this.src='https://dummyimage.com/600x900/ababab/ffffff.png&amp;text=+NO+IMAGE'"></a>
                        <div class="card-body btn btn-outline-success text-white">
                            <a href={% url 'investordata' %}><p class="card-text text-center "><strong>INVESTORS</strong></p></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 10rem;">
                        <a href=""><img src="/static/imgs/home/stockvel.jpg" height="230" width="200" class="card-img-top" alt="Actor Picture"  onerror="this.src='https://dummyimage.com/600x900/ababab/ffffff.png&amp;text=+NO+IMAGE'"></a>
                        <div class="card-body btn btn-outline-success text-white">
                            <a href=""><p class="card-text text-center "><strong>STOCKVEL</strong></p></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 10rem;">
                        <a href=""><img src="/static/imgs/home/donations.jpg" height="230" width="200" class="card-img-top" alt="Actor Picture"  onerror="this.src='https://dummyimage.com/600x900/ababab/ffffff.png&amp;text=+NO+IMAGE'"></a>
                        <div class="card-body btn btn-outline-success text-white">
                            <a href=""><p class="card-text text-center "><strong>DONATIONS</strong></p></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <div class="card" style="width: 10rem;">
                        <a href=""><img src="/static/imgs/home/event.jpg" height="230" width="200" class="card-img-top" alt="Actor Picture"  onerror="this.src='https://dummyimage.com/600x900/ababab/ffffff.png&amp;text=+NO+IMAGE'"></a>
                        <div class="card-body btn btn-outline-success text-white">
                            <a href=""><p class="card-text text-center "><strong>EVENTS</strong></p></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 10rem;">
                        <a href=""><img src="/static/imgs/home/edufarming.jpg" height="230" width="200" class="card-img-top" alt="Actor Picture"  onerror="this.src='https://dummyimage.com/600x900/ababab/ffffff.png&amp;text=+NO+IMAGE'"></a>
                        <div class="card-body btn btn-outline-success text-white">
                            <a href=""><p class="card-text text-center "><strong>EDUFARMING</strong></p></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 10rem;">
                        <a href=""><img src="/static/imgs/home/expert.jpg" height="230" width="200" class="card-img-top" alt="Actor Picture"  onerror="this.src='https://dummyimage.com/600x900/ababab/ffffff.png&amp;text=+NO+IMAGE'"></a>
                        <div class="card-body btn btn-outline-success text-white">
                            <a href=""><p class="card-text text-center "><strong>EXPERTS</strong></p></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card" style="width: 10rem;">
                        <a href=""><img src="/static/imgs/home/consulting.jpg" height="230" width="200" class="card-img-top" alt="Actor Picture"  onerror="this.src='https://dummyimage.com/600x900/ababab/ffffff.png&amp;text=+NO+IMAGE'"></a>
                        <div class="card-body btn btn-outline-success text-white">
                            <a href=""><p class="card-text text-center "><strong>CONSULATING</strong></p></a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>
</div>


{% endblock %}