{% extends 'home/index.html' %}
{% block title %}
INVESTOR
{% endblock %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            
            <div class="col-12"> 
                
                                
                <div class="container">
                    <ol class="breadcrumb my-4">
                        <li class="breadcrumb-item active"><h1>INVESTORS</h1></li>
                    </ol>
                    {% for investor in investors %}
                    
                        <div class="card mb-3 " style=" max-width: 540px;">
                            <div class="row no-gutters">
                              <div class="col-md-4">
                                <img src="/static/imgs/home/investor.jpg" class="card-img" alt="...">
                              </div>
                              <div class="col-md-8 bg-secondary text-white">
                                <div class="card-body">
                                  <h5 class="card-title">{{ investor.name }} {{ investor.lastname }}</h5>
                                  <p class="card-text">{{ investor.full_description }}</p>
                                  <div class="row">
                                    <div class="col-sm-4">
                                        <p class="card-text">{{ investor.country }}</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="card-text">{{ investor.state }}</p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="card-text">{{ investor.city }}</p>
                                    </div>

                                  </div>
                                  <hr>
                                  <p class="card-text">{{ investor.website }}</p>
                                  <p class="card-text">{{ investor.email}}</p>
                                  <p class="card-text">{{ investor.telephone }}</p>
                                  <p class="card-text"><small class="text-muted">{{ investor.last_updated}}</small></p>
                                </div>
                              </div>
                            </div>
                          </div>
                    
                    {% endfor %}
                      
                </div>
                
                
                                
            </div>
            
        </div>
    </div>
</section>


{% endblock %}